<h1>Editing lignes commande</h1>

<%= render "form", lignes_commande: @lignes_commande %>

<br>

<div>
  <%= link_to "Show this lignes commande", @lignes_commande %> |
  <%= link_to "Back to lignes commandes", lignes_commandes_path %>
</div>
