
<% if user_signed_in? %>

<h1>Commandes</h1>

  <table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th>Nom</th>
        <th>Comment</th>
        <th>Client</th>
      </tr>
    </thead>

    <tbody>
    <% @commandes.each do |commande| %>
          <tr>
          
          <td> <%= link_to commande.nom, commande %> </td>
            <td> <%= commande.comment %>    </td>
            <td> <%= commande.client_id %>    </td>
            
          </tr>

<% end %>
    </tbody>
  </table>

  <br>
  <%= link_to "Nouvelle commande", new_commande_path, class:"btn btn-primary" %>

<% else %>

  <h3> Vous n'avez pas les droits...</h3>
  
  
<% end %>