

<h1 class="animate__animated animate__bounce">hello world !</h1>

 <textarea id="textExample" rows="5" cols="60">
    Voici une application RoR en developpement !
    Elle utilise différentes fonctionnalités.
    Beaucoup de choses semblent possibles,
    avec un peu de temps et beaucoup de méthode ...
  </textarea>

<script>
    // déclencher js au chargement de la page
    window.addEventListener('load', (event) => {
    animateText(textExample);
    //console.log('page is fully loaded');
    });
</script>

 <button onclick="animateText(textExample)">Run the animated typing!</button>

 <body>
  <script>

    function animateText(textArea) {
      let text = textArea.value;
      let to = text.length,
        from = 0;

      animate({
        duration: 5000,
        timing: bounce,
        draw: function(progress) {
          let result = (to - from) * progress + from;
          textArea.value = text.substr(0, Math.ceil(result))
        }
      });
    }

 function bounce(timeFraction) {
      for (let a = 0, b = 1; 1; a += b, b /= 2) {
        if (timeFraction >= (7 - 4 * a) / 11) {
          return -Math.pow((11 - 6 * a - 11 * timeFraction) / 4, 2) + Math.pow(b, 2)
        }
      }
    }
  
  </script>

<style>
    textarea {
    display: block;
    border: 1px solid #BBB;
    color: #444;
    font-size: 110%;
    }

    button {
    margin-top: 10px;
    }
</style> 

</body>